<ion-header>
    <ion-navbar>
        <ion-title>{{name}}</ion-title>
        <ion-buttons end *ngIf="gameStatus==1">
            <button ion-button (click)="endCompetition()" [disabled]="validateEndCompetition()">
                {{ 'COMPETITION.END' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <ion-list-header>
        {{ 'COMPETITION.Innings' | translate }}
    </ion-list-header>
    <ion-item *ngFor="let round of roundResult;let i=index" detail-push (click)="clickRound(i)">
        <ion-avatar item-left [ngSwitch]="i">
            <img *ngSwitchCase="0" src="assets/img/one.jpg">
            <img *ngSwitchCase="1" src="assets/img/two.jpg">
            <img *ngSwitchCase="2" src="assets/img/three.jpg">
            <img *ngSwitchCase="3" src="assets/img/four.jpg">
            <img *ngSwitchCase="4" src="assets/img/five.jpg">
            <img *ngSwitchCase="5" src="assets/img/six.jpg">
            <img *ngSwitchCase="6" src="assets/img/seven.jpg">
        </ion-avatar>
        {{(round.score1||round.score2) ? (round.score1 + " : " + round.score2): 'COMPETITION.NOT_STARTED' | translate }}
    </ion-item>
</ion-content>