<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN.LOGIN' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'LOGIN.PHONE_NUMBER' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="username" [placeholder]="'LOGIN.INPUT_PHONE' | translate "></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'LOGIN.VERIFY_CODE' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="password" maxlength="6" [placeholder]="'LOGIN.INPUT_CODE' | translate "></ion-input>
      <button ion-button (click)="sendCode()" item-right [disabled]="validateSendCode()">{{ intervalNumber > 0? intervalNumber + ('LOGIN.SECOND' | translate) : 'LOGIN.GET_CODE' | translate }}</button>
    </ion-item>
  </ion-list>

  <ion-list>
    <button ion-button block (click)="login()" [disabled]="validateLogin()">{{ 'LOGIN.START' | translate }}</button>
  </ion-list>

</ion-content>