<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ME.PHOTO' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item detail-push (click)="selectImage()">
      <ion-label>{{ 'ME.SELECT_IMAGE' | translate }}</ion-label>
    </ion-item>
    <ion-item detail-push (click)="takePhoto()">
      <ion-label>{{ 'ME.TAKE_PHOTO' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>