<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="{{'TABS.COMPETITION' | translate}} " tabIcon="basketball"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{'TABS.FRIENDS' | translate}} " tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{'TABS.ME' | translate}} " tabIcon="contact"></ion-tab>
</ion-tabs>