<ion-header>
    <ion-navbar>
        <ion-title>{{ (status==1?'COMPETITION.NOT_FINISHED':'COMPETITION.FINISHED') | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <ion-list>
        <ion-list-header>{{ 'COMPETITION.LIST' | translate }}</ion-list-header>
        <ion-item-sliding *ngFor="let competition of competitions">
            <ion-item>
                <ion-avatar item-left [ngSwitch]="competition.game_type">
                    <img *ngSwitchCase="1" src="assets/img/pingpong.jpg">
                    <img *ngSwitchCase="2" src="assets/img/badminton.jpg">
                    <img *ngSwitchCase="3" src="assets/img/tennis.jpg">
                </ion-avatar>
                <h2>{{competition.name}}</h2>
                <p>{{(status==1?'COMPETITION.COMPETITION_DATE':'COMPETITION.SCORE') | translate}} {{status==1?formatDate(competition.order_date):(competition.game_result[0].score
                    + " : " +competition.game_result[1].score)}}</p>
                <p>{{(status==1?'COMPETITION.CREATE_DATE':'COMPETITION.FINISHED_ON') | translate}} {{status==1?formatDate(competition.create_date):formatDate(competition.end_date)}}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="secondary" icon-left (click)="clickCompetition(competition)">
                {{(status==1? 'COMPETITION.START': 'COMPETITION.VIEW')| translate }}
                </button>
                <button ion-button color="danger" icon-left (click)="removeCompetition(competition)">
                {{ 'COMPETITION.DELETE' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>