<ion-header>
    <ion-navbar>
        <ion-title>{{ 'COMPETITION.CREATE' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="createCompetition()" [disabled]="disableCreateButton()">
                {{ 'COMPETITION.DONE' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <ion-list>
        <ion-item>
            <ion-label>{{ 'COMPETITION.SELECT_GAME' | translate }}</ion-label>
            <ion-select [(ngModel)]="gameType" multiple="false" cancelText="{{ 'COMMON.CANCEL' | translate }}" okText="{{ 'COMMON.OK' | translate }}">
                <ion-option value="1">{{ 'COMPETITION.PINGPONG' | translate }}</ion-option>
                <ion-option value="2">{{ 'COMPETITION.BADMINTON' | translate }}</ion-option>
                <ion-option value="3">{{ 'COMPETITION.TENNIS' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'COMPETITION.SELECT_ROUND' | translate }}</ion-label>
            <ion-select [(ngModel)]="gameRound" multiple="false" cancelText="{{ 'COMMON.CANCEL' | translate }}" okText="{{ 'COMMON.OK' | translate }}">
                <ion-option value="3">{{ 'COMPETITION.THREE_ROUNDS' | translate }}</ion-option>
                <ion-option value="5">{{ 'COMPETITION.FIVE_ROUNDS' | translate }}</ion-option>
                <ion-option value="7" *ngIf="gameType != 3">{{ 'COMPETITION.SEVEN_ROUNDS' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'COMPETITION.ORDER_DATE' | translate }}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="orderDate" [min]="today" [max]="maxDate" cancelText="{{ 'COMMON.CANCEL' | translate }}"
                doneText="{{ 'COMMON.OK' | translate }}"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            {{ 'COMPETITION.SELECT_PLAYERS' | translate }}
        </ion-list-header>
        <ion-item>
            <ion-label>
                <h2>{{ username }}</h2>
            </ion-label>
            <ion-checkbox item-right [(ngModel)]="selfChecked" [disabled]="disableCheckbox(selfChecked)">
            </ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let friend of friendContacts">
            <ion-label>
                <h2>{{friend.name}}</h2>
            </ion-label>
            <ion-checkbox item-right [(ngModel)]="friend.checked" [disabled]="disableCheckbox(friend.checked)">
            </ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>