<ion-header>
    <ion-navbar>
        <ion-title>{{ 'COMPETITION.DETAIL' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="endViewCompetition()">
                {{ 'COMPETITION.END' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <ion-list-header>
        {{ 'COMPETITION.DETAILS' | translate }}
    </ion-list-header>
    <ion-list>
        <ion-item>
            <ion-label>
                <h2></h2>
            </ion-label>
            <ion-label text-center>
                <h2>{{player1.name}}</h2>
            </ion-label>
            <ion-label text-center>
                <h2>{{player2.name}}</h2>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="gameType == 1 || gameType == 2">
            <ion-label>
                <h2>{{ 'COMPETITION.SCORE' | translate }}</h2>
            </ion-label>
            <ion-label text-center>
                <h2>{{currentRound.score1}}</h2>
            </ion-label>
            <ion-label text-center>
                <h2>{{currentRound.score2}}</h2>
            </ion-label>
        </ion-item>
        <div *ngIf="gameType == 3">
            <ion-item>
                <ion-label>
                    <h2>{{ 'COMPETITION.SCORE' | translate }}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak&&tiebreak.score1:currentSubRound.score1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak&&tiebreak.score2:currentSubRound.score2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>ACES</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.aces1:currentSubRound.aces1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.aces2:currentSubRound.aces2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Doubles</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.doubles1:currentSubRound.doubles1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.doubles2:currentSubRound.doubles2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>1st Serve</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.first1:currentSubRound.first1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.first2:currentSubRound.first2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>2nd Serve</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.second1:currentSubRound.second1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.second2:currentSubRound.second2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Winner S</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.winner1:currentSubRound.winner1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.winner2:currentSubRound.winner2}}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Unfore Error</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.ue1:currentSubRound.ue1}}</h2>
                </ion-label>
                <ion-label text-center>
                    <h2>{{isTiebreak?tiebreak.ue2:currentSubRound.ue2}}</h2>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>