<ion-header>
    <ion-navbar>
        <ion-title>{{ 'COMPETITION.SCOREBOARD' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="endRound()" [disabled]="!enableEndRound()">
                {{ 'COMPETITION.END' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <div *ngIf="gameType==1||gameType==2">
        <ion-list>
            <ion-list-header>
                {{player1.name}}
            </ion-list-header>
            <ion-item large>
                <ion-label item-left>
                    <h2>{{ 'COMPETITION.SCORE' | translate }}</h2>
                </ion-label>
                <button ion-button large item-left>
                    <ion-icon name="remove" (click)="minus('score', 1)"></ion-icon>
                </button>
                <ion-label text-center>{{currentRound.score1}}</ion-label>
                <button ion-button large item-right>
                    <ion-icon name="add" (click)="add('score', 1)"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>
                {{player2.name}}
            </ion-list-header>
            <ion-item large>
                <ion-label item-left>
                    <h2>{{ 'COMPETITION.SCORE' | translate }}</h2>
                </ion-label>
                <button ion-button large item-left>
                    <ion-icon name="remove" (click)="minus('score', 2)"></ion-icon>
                </button>
                <ion-label text-center>{{currentRound.score2}}</ion-label>
                <button ion-button large item-right>
                    <ion-icon name="add" (click)="add('score',2)"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

    </div>
    <div *ngIf="gameType==3">
        <ion-grid>
            <ion-row text-center center>
                <ion-col>{{player1.name}}</ion-col>
                <ion-col></ion-col>
                <ion-col>{{player2.name}}</ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('score',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.score1:currentSubRound.score1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('score',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{ 'COMPETITION.SCORE' | translate }}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('score',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.score2:currentSubRound.score2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('score',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('aces',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.aces1:currentSubRound.aces1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('aces',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>ACES</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('aces',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.aces2:currentSubRound.aces2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('aces',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('doubles',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.doubles1:currentSubRound.doubles1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('doubles',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>Doub Fault</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('doubles',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.doubles2:currentSubRound.doubles2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('doubles',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('first', 1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.first1:currentSubRound.first1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('first',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>1st Serve</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('first',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.first2:currentSubRound.first2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('first',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('second',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.second1:currentSubRound.second1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('second',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>2nd Serve</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('second',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.second2:currentSubRound.second2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('second',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('winner',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.winner1:currentSubRound.winner1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('winner',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>Winn S</ion-col>
                <ion-col>
                    <button ion-button>
                        <ion-icon name="remove" (click)="minus('winner',2)"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.winner2:currentSubRound.winner2}}</ion-col>
                <ion-col>
                    <button ion-button>
                        <ion-icon name="add" (click)="add('winner',2)"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row text-center center>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('ue',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.ue1:currentSubRound.ue1}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('ue',1)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>Unfor Errors</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="remove" (click)="minus('ue',2)"></ion-icon>
                </button>
                </ion-col>
                <ion-col>{{isTiebreak?tiebreak.ue2:currentSubRound.ue2}}</ion-col>
                <ion-col>
                    <button ion-button>
                    <ion-icon name="add" (click)="add('ue',2)"></ion-icon>
                </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <button ion-button block (click)="saveTempResult()">{{ 'COMPETITION.SAVE' | translate }}</button>
</ion-content>