<ion-header>
  <ion-navbar>
    <ion-title>{{ 'FRIENDS.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
  <ion-list>
    <ion-list-header>{{ 'FRIENDS.MY_FRIENDS' | translate }}</ion-list-header>
    <ion-item *ngFor="let friend of friendContacts">{{friend.name}}</ion-item>
  </ion-list>
</ion-content>
