<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ME.ABOUT_US' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
  <ion-list padding-top text-center>
    <img src="assets/img/thumbnail-kitten-2.jpg">
    <p>{{appName}}</p>
    <p>V {{versionNumber}}</p>
  </ion-list>
</ion-content>