<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ME.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
  <ion-list text-center padding-top>
    <img [src]="phtoSource">
    <p>{{username}}</p>
  </ion-list>
  <ion-list>
    <ion-list-header>
      {{ 'ME.SETTING' | translate }}
    </ion-list-header>
    <ion-item detail-push (click)="modifyName()">
      <ion-label>{{ 'ME.NAME' | translate }}</ion-label>
    </ion-item>
    <ion-item detail-push (click)="modifyPhoto()">
      <ion-label>{{ 'ME.PHOTO' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'ME.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="setLanguage()" [cancelText]="'COMMON.CANCEL' | translate" [okText]="'COMMON.OK' | translate">
        <ion-option value="en" [selected]="lang === translate.currentLang">English</ion-option>
        <ion-option value="zh" [selected]="lang === translate.currentLang">中文简体</ion-option>
      </ion-select>
    </ion-item>
    <ion-item detail-push (click)="aboutUs()">
      <ion-label>{{ 'ME.ABOUT_US' | translate }}</ion-label>
    </ion-item>
    <div padding>
      <button ion-button block (click)="logOut()">{{ 'ME.LOGOUT' | translate }}</button>
    </div>
  </ion-list>
</ion-content>