<ion-header>
  <ion-navbar>
    <ion-title>{{ 'COMPETITION.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-competition" padding-left padding-right>
  <ion-slides pager loop autoplay="5000" class="slide">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h6 [innerHTML]="slide.title"></h6>
    </ion-slide>
  </ion-slides>

  <div padding>
    <button ion-button block (click)="newCompetition()">{{ 'COMPETITION.CREATE' | translate }}</button>
  </div>

  <ion-list>
    <ion-list-header>
      {{ 'COMPETITION.NOT_FINISHED' | translate }}
      <button ion-button clear item-right (click)="getMoreNotFinished()">{{ 'COMPETITION.MORE' | translate }}</button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let competition of competitionsNotFinished">
      <ion-item>
        <ion-avatar item-left [ngSwitch]="competition.game_type">
          <img *ngSwitchCase="1" src="assets/img/pingpong.jpg">
          <img *ngSwitchCase="2" src="assets/img/badminton.jpg">
          <img *ngSwitchCase="3" src="assets/img/tennis.jpg">
        </ion-avatar>
        <h2>{{competition.name}}</h2>
        <p>{{'COMPETITION.COMPETITION_DATE' | translate}} {{formatDate(competition.order_date)}}</p>
        <p>{{'COMPETITION.CREATE_DATE' | translate}} {{formatDate(competition.create_date)}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-left (click)="clickCompetition(competition)">
                {{ 'COMPETITION.START' | translate }}
            </button>
        <button ion-button color="danger" icon-left (click)="removeCompetition(competition)">
                {{ 'COMPETITION.DELETE' | translate }}
            </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      {{ 'COMPETITION.FINISHED' | translate }}
      <button ion-button clear item-right (click)="getMoreFinished()">{{ 'COMPETITION.MORE' | translate }}</button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let competition of competitionsFinished">
      <ion-item>
        <ion-avatar item-left [ngSwitch]="competition.game_type">
          <img *ngSwitchCase="1" src="assets/img/pingpong.jpg">
          <img *ngSwitchCase="2" src="assets/img/badminton.jpg">
          <img *ngSwitchCase="3" src="assets/img/tennis.jpg">
        </ion-avatar>
        <h2>{{competition.name}}</h2>
        <p>{{'COMPETITION.SCORE' | translate}} {{competition.game_result[0].score + " : " +competition.game_result[1].score }}</p>
        <p>{{'COMPETITION.FINISHED_ON' | translate}} {{formatDate(competition.end_date)}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-left (click)="clickCompetition(competition)">
                {{ 'COMPETITION.VIEW' | translate }}
            </button>
        <button ion-button color="danger" icon-left (click)="removeCompetition(competition)">
                {{ 'COMPETITION.DELETE' | translate }}
            </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>