.page-competition {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide{
    height:39%;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    max-height: 60%;
    max-width: 100%;
    margin: 18px 0;
  }

}