<ion-header>
    <ion-navbar>
        <ion-title>{{name}}</ion-title>
        <ion-buttons end *ngIf="currentRound&&currentRound.status==0">
            <button ion-button (click)="endRound()" [disabled]="!roundCanEnd()">
                {{ 'COMPETITION.END' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-left padding-right>
    <ion-list-header>
        {{ 'COMPETITION.Innings' | translate }}
    </ion-list-header>
    <div *ngFor="let subresult of subResults;let i=index">
        <ion-item detail-push (click)="clickSubRound(i)" *ngIf="showSubRound(subresult)">
            <ion-avatar item-left [ngSwitch]="i">
                <img *ngSwitchCase="0" src="assets/img/one.jpg">
                <img *ngSwitchCase="1" src="assets/img/two.jpg">
                <img *ngSwitchCase="2" src="assets/img/three.jpg">
                <img *ngSwitchCase="3" src="assets/img/four.jpg">
                <img *ngSwitchCase="4" src="assets/img/five.jpg">
                <img *ngSwitchCase="5" src="assets/img/six.jpg">
                <img *ngSwitchCase="6" src="assets/img/seven.jpg">
                <img *ngSwitchCase="7" src="assets/img/eight.jpg">
                <img *ngSwitchCase="8" src="assets/img/nine.jpg">
                <img *ngSwitchCase="9" src="assets/img/ten.jpg">
                <img *ngSwitchCase="10" src="assets/img/eleven.jpg">
                <img *ngSwitchCase="11" src="assets/img/twelve.jpg">
            </ion-avatar>
            {{(subresult.score1||subresult.score2) ? (subresult.score1 + " : " + subresult.score2): 'COMPETITION.NOT_STARTED' | translate
            }}
        </ion-item>
    </div>
    <div *ngIf="showTiebreak()">
        <ion-list-header>
            {{ 'COMPETITION.TIEBREAK' | translate }}
        </ion-list-header>
        <ion-item detail-push (click)="clickTiebreak()">
            <ion-avatar item-left>
                <img src="assets/img/tiebreak.jpg">
            </ion-avatar>
            {{(currentRound.tiebreak&&(currentRound.tiebreak.score1||currentRound.tiebreak.score2)) ? (currentRound.tiebreak.score1 + " : " + currentRound.tiebreak.score2):
            'COMPETITION.NOT_STARTED' | translate }}
        </ion-item>
    </div>
</ion-content>